/*OVERALL DESIGN FOR GENERAL ASPECTS */
.roboto-mono-font {
   font-family: "Roboto Mono", monospace;
   font-optical-sizing: auto;
   font-weight: auto;
   font-style: normal;
 }
body {
   background-image: url(Images/tan-background-8bnufdrrlswhogdf-241654070.jpg);
   background-position: center center; /* Background image doesn’t tile */
   background-repeat: no-repeat; /* Background image is fixed in the viewport so that it doesn’t move when the content’s height is greater than the image’s height */
   background-attachment: fixed; /* This is what makes the background image rescale based on the container’s size */
   background-size: cover;
   font-family: "Roboto Mono";
}
 /*BREADCRUMB DESIGN*/
 .breadcrumb {
   margin-top: 0px;
   padding-top: 0px;
 }
 /* Style the list */
ul.breadcrumb {
   padding: 10px 16px;
   list-style: none;
   background-color: rgba(73, 39, 39, 0.628);
 }
 
 /* Display list items side by side */
 ul.breadcrumb li {
   display: inline;
   font-size: 15px;
   color: white;
 }
 
 /* Add a slash symbol (/) before/behind each list item */
 ul.breadcrumb li+li:before {
   padding: 8px;
   color: rgb(255, 241, 241);
   content: "•";
 }
 
 /* Add a color to all links inside the list */
 ul.breadcrumb li a {
   color: #c3d4e3;
   text-decoration: none;
 }
 
 /* Add a color on mouse-over */
 ul.breadcrumb li a:hover {
   color: #ffffff;
   text-shadow: black;
 }

 /*RESPONSIVE IMAGE GRID LAYOUT*/
 .row {
  display: flex;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 5px 5px;

}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/*IMAGE BLUR ON HOVER*/
img:hover {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: .5s ease;
}

/*IMAGE OVERLAY TEXT*/
.container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  opacity: 0;
  transition: .5s ease;
  backdrop-filter: blur(6px);
}

.container:hover .overlay {
  opacity: 1
}

.text {
  color: white;
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}