/*OVERALL DESIGN FOR GENERAL ASPECTS */
.roboto-mono-font {
   font-family: "Roboto Mono", monospace;
   font-optical-sizing: auto;
   font-weight: auto;
   font-style: normal;
 }
body {
  margin: 0px;
  padding:0%;
  background-color: #d6b589;
   font-family: "Roboto Mono";
   cursor: default;
}

a {
  color: white;
  cursor: url('Images/icons8-cursor.svg'), auto;
}
 /*BREADCRUMB DESIGN*/
 .navBar {
   margin-top: 0px;
   padding-top: 0px;
   padding:1px;
   list-style: none;
   background-color: rgba(73, 39, 39, 0.628);
 }
 
 /* Display list items side by side */
 ul.breadcrumb li {
   display: inline;
   font-size: 15px;
   color: white;
 }
 
 /* Add a slash symbol (/) before/behind each list item */
 ul.breadcrumb li+li:before {
   padding: 8px;
   color: rgb(255, 241, 241);
   content: "•";
 }
 
 /* Add a color to all links inside the list */
 ul.breadcrumb li a {
   color: #c3d4e3;
   text-decoration: none;
 }
 
 /* Add a color on mouse-over */
 ul.breadcrumb li a:hover {
   color: #ffffff;
   text-shadow: black;
 }

.introduction {
  display: flex;
  margin: 5px;
  color: rgba(73, 39, 39, 0.628);
  align-items: center;
}

.pageintro {
  
  margin-left: 20px;
  max-width: 70%;
  padding-right: 20px;
}

.quote {
  border-left: 2px solid black;
  padding-left: 2px;
  border-radius: 10%;
  margin-top: 10px;
  padding-left: 20px;
  max-width: 25%;
}
 /*RESPONSIVE IMAGE GRID LAYOUT*/
 .row {
  display: flex;
  flex-wrap: nowrap;
  padding: 4px 4px;
  margin-left: 10px;
  margin-right: 10px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 20%;
  max-width: 20%;
  padding: 10px 10px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/*IMAGE OVERLAY TEXT*/
.container {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.container img {
  width: 100%;
}

.container a:hover {
  cursor: url('Images/icons8-cursor.svg'), auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  opacity: 0;
  transition: .5s ease;
  backdrop-filter: blur(6px);
}

.container:hover .overlay {
  opacity: 1
}

.text a {
  color: white;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  display:flex;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/*IMAGE BLUR ON HOVER*/
.container img:hover {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: .5s ease;
}