/*OVERALL DESIGN FOR GENERAL ASPECTS */
.roboto-mono-font {
   font-family: "Roboto Mono", monospace;
   font-optical-sizing: auto;
   font-weight: auto;
   font-style: normal;
 }
li {
   list-style-type: circle;
}
body {
background-image: url(Images/JanVanGoyen.jpg);
background-position: center center; /* Background image doesn’t tile */
background-repeat: no-repeat; /* Background image is fixed in the viewport so that it doesn’t move when the content’s height is greater than the image’s height */
background-attachment: fixed; /* This is what makes the background image rescale based on the container’s size */
background-size: cover;
font-family: "Roboto Mono";
margin: 0%;
padding: 0%;
margin-bottom: 20px;
cursor: default;
}
h3 {
   background-color: rgb(73, 39, 39);
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 10px;
   margin-top: 5px;
}

/*SCROLLBAR ANIMATION DESIGN*/
.scrollbar {
   margin-left: 270px;
   margin-right: 40px;
}


/*MAIN CONTAINER DESIGN */
.master {
   margin-left: 240px;
   margin-right: 20px;
   padding-inline:20px;
   background-color:  rgba(73, 39, 39, 0.364);
   padding: 20px;
   color: white;
}

/* NAVBAR DESIGN */
.navBar {
height: 100%;
width: 200px;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: rgb(73, 39, 39);
padding-top: 20px;
}

.nav-links {
   margin-top: 40px;
   color: white;
   position: relative;
   padding-bottom: 10px;
   padding-top: 5px;
   line-height: 30px;
   text-align: start;
   text-decoration: none;
}

.nav-links a {
   text-decoration: none;
   display: block;
   margin-bottom: -30px;
   padding-left: 20px;
 }

 .nav-links a:hover {
   background-color: #cc550089;
   padding-left: 25px;
 }

 .buttons {
   position: absolute;
   bottom: 0;
   margin-bottom: 100px;
   margin-left: 10px;
 }

/*CONTENT DESIGN */
.title {
   justify-content: center;
   margin-left: 250px;
   margin-right: 20px;
   margin-bottom: -40px;
}
.intro {
   text-align: center;
   margin-top: -20px;
   margin-left: 50px;
   margin-right: 50px;
}

.div-img {
   display: flex;
   justify-content: center;
   margin-bottom: 20px;
}

/*FLEXBOX AND SECTION DESIGN */
.flex1 {
   display: flex;
   margin-top: 20px;
}

.leftCol {
   order: 3;
   width: 25%;
   height: fit-content;
   border-style: dotted;
   padding: 10px;
   margin-left: 30px;
}

.center {
   order: 2;
   margin-top: -20px;
}

.rightCol {
   margin-right: 20px;
   width: 25%;
   order: 1
}

.HLheading {
   text-align: center;
}

.moreIntro {
   text-align: center;
}

.marginilian {
   text-decoration-style: dotted;
   color: white;
   text-shadow: gold;
}

/*UPDATE SECTION DESIGN*/
.upText {
   text-align: center;
   margin-bottom: 10px;
}
.upScroll {
   order: 2;
   width: 300px;
   height: 450px;
   overflow-x: hidden;
   overflow-y: auto;
}
article {
   border-style: inset;
   padding: 10px;
}