/* font style */
/*OVERALL DESIGN FOR GENERAL ASPECTS */
.roboto-mono-font {
   font-family: "Roboto Mono", monospace;
   font-optical-sizing: auto;
   font-weight: auto;
   font-style: normal;
 }


 body {
   margin: 0px;
   padding:0%;
   background-color: #d6b589;
   font-family: "Roboto Mono";
   cursor: default;
}

a {
   color: white;
   cursor: url(ImmediatePics/icons8-cursor-48.png) 15 10, auto
   

}

h1 {
   text-align: center;
}

h3 {
  padding-top: 5px;
}
 /*BREADCRUMB DESIGN*/
 .navBar {
   margin-top: 0px;
   padding-top: 0px;
   padding:1px;
   list-style: none;
   background-color: rgba(73, 39, 39, 0.628);
 }
 
 /* Display list items side by side */
 ul.breadcrumb li {
   display: inline;
   font-size: 15px;
   color: white;
 }
 
 /* Add a slash symbol (/) before/behind each list item */
 ul.breadcrumb li+li:before {
   padding: 8px;
   color: rgb(255, 241, 241);
   content: "•";
 }
 
 /* Add a color to all links inside the list */
 ul.breadcrumb li a {
   color: #c3d4e3;
   text-decoration: none;
 }
 
 /* Add a color on mouse-over */
 ul.breadcrumb li a:hover {
   color: #ffffff;
   text-shadow: black;
 }

 /* CONTENT */
.content {
   margin-top: 30px;
   display: flex;
   width: 100%;
   flex-wrap: wrap;
   margin-left: auto;
}

 .Col1 {
   flex: content;
   justify-content: center;
   margin-left: 30px;
 }

 .heading {
   color: white;
   font-size: larger;
   text-align: center;
   margin-top: -25px;
   margin-left: -20px;
   padding-bottom: 5px;
   background-image: linear-gradient(#cc5500, #492727);
 }

 .link-list {
  background-color: #492727;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-bottom: 20px;
  color: white;
  font-size: large;
 }

 dt {
  padding-top: 5px;
 }

 dl {
  line-height: 30px;
 }

.Col2 {
   margin-left: 20px;
   margin-right: 10px;
   flex: content;
   max-width: 28%;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.buttons a {
   text-decoration: none;
}

.buttons img {
  padding: 5px;
}

.WOlinks {
  padding-right: 20px;
}

.WOlinks li::marker {
   color: #492727;
 }